// 变量
$color = red
// 混合
btnStyl(w, h)
  width w
  height h

#container
  background $color

  h1
    color white

    &::after
      content '"'

  .btn
    btnStyl(100px, 30px)
    border 1 + 3px solid #000
